{% extends "search.html" %}


{% block body %}
<table class="fullname_label" ><tr><th><span class="title"><h3 class="title">{% if action == "edit_engineer" %}Редактирование информации об инженере{% endif %}{% if action == "add_engineer" %}Добавление инженера в систему{% endif %}</h3></span></th></tr></table>
<div class="result_list">
	<form method="post">
	<table class="booking">
		
		<tr><th>ФИО</th><th><input type="text" name="fullname" size="80" required {% if eng_inf %} value="{{ eng_inf[1] }}" {% endif %}></th></tr>
		<tr><th>Подразделение</th><th><input type="text" name="org_unit" size="80" required {% if eng_inf %} value="{{ eng_inf[5] }}" {% endif %}></th></tr>
		<tr><th>Телефон</th><th><input type="text" name="phone" size="80" required {% if eng_inf %} value="{{ eng_inf[2] }}" {% endif %}></th></tr>
		<tr><th>E-mail</th><th><input type="text" name="email" size="80"required {% if eng_inf %} value="{{ eng_inf[7] }}" {% endif %}></th></tr>
		<tr><th>Навыки и опыт</th><th><textarea name="skills" id="skills" cols="80" rows="20" required>{% if eng_inf %}{{ eng_inf[4] }} {% endif %}</textarea></th></tr>
		<tr><th>Знание иностранных языков</th><th><input type="text" name="langs" {% if eng_inf %} value="{{ eng_inf[13] }}" {% endif %}></th></tr>

                
		<tr><th>Тэги (вводить через пробел)</th><th><input type="text" name="tags" id="tags" size="80" required {% if eng_inf %} value="{{ eng_inf[3] }}" {% endif %}></th></tr>
		<tr><th>Должность</th><th><input type="text" name="type" size="80" required {% if eng_inf %} value="{{ eng_inf[6] }}" {% endif %}></th></tr>
		<tr><th>Login в BMC Remedy</th><th><input type="text" name="rem_id" {% if eng_inf %} value="{{ eng_inf[8] }}" {% endif %}></th></tr>
		<tr><th>Login в JIRA</th><th><input type="text" name="jira_id" {% if eng_inf %} value="{{ eng_inf[9] }}" {% endif %}></th></tr>
		<tr><th>ФИО в WFS</th><th><input type="text" name="sharepoint_id" {% if eng_inf %} value="{{ eng_inf[10] }}" {% endif %}></th></tr>
		<tr><th>Login в Трекере рабочего времени</th><th><input type="text" name="suir_id" required {% if eng_inf %} value="{{ eng_inf[12] }}" {% endif %}></th></tr>
		<tr><th>Утилизируемый ресурс</th><th>
				 <select name="util">
                <option value="yes" {% if eng_inf %} {% if eng_inf[11] == 'yes' %}selected{% endif %}{% endif %}>Да</option>
                <option value="no" {% if eng_inf %} {% if eng_inf[11] == 'no' %}selected{% endif %}{% endif %}>Нет</option>
</th></tr>
           
	</table>
		<button type="submit" class="add"><i class="fas fa-save"></i></button>
	</form>
</div>

<script type="text/javascript">
function getTags(){
	var xhr = new XMLHttpRequest();
	method = "POST";
	text = encodeURIComponent(document.getElementById('skills').value); 

	url = "http://st-erm/rest/gentags";

	xhr.open(method, url, true);
	xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xhr.onreadystatechange = function () {
		if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
		    var tags = document.getElementById("tags");

		    tags.value = tags.value + ' ' + JSON.parse(xhr.responseText).join(' '); 
		};
	    };
	xhr.send('texttotag='+text);
}

textarea = document.getElementById('skills');

textarea.addEventListener("change", getTags);
</script>
{% endblock %}
